
input{
  color: hsl(0, 0%, 52%);
}

p{
  margin: 0px !important;
}
input, select{
  cursor: pointer;
}


/* in Lightmode */
.light-mode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  height: 100%;
}
.light-mode input{
  color: hsl(200, 15%, 8%);
} 
/* .dark-mode input{
  color: hsl(0, 0%, 82%) !important;
} */

.light-mode .border-countries{
  border: solid 1px hsl(0, 0%, 82%);
  color: hsl(200, 15%, 8%); 
}
/* .light-mode .border-countries-list{
  border: solid 1px hsl(0, 0%, 82%);
} */

/* in dark mode */
.dark-mode header, .dark-mode input, .dark-mode select, .dark-mode .card-style, .dark-mode .border-countries, .dark-mode button {
  background-color: hsl(209, 23%, 22%) !important;
  color: white;

}
.dark-mode{
  background-color: hsl(207, 26%, 17%);
  height: 100%;
  color: white;
}